/* Font and shared section */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.font-tittle {
  font-family: "Noto Serif", serif;}
/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #ecf6fd;
      font-family: "Inter", sans-serif; 
   
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;   
}
.bn-color{
    color: #E95A08;
}
.gray{
    color: rgba(0, 0, 0, 0.5);
}

/* Navbar Section */
.nav-bar,.nav-title, .brand-links{
    display: flex; 
    justify-content: space-between;
    align-items: center;
     max-width:1140px  ;
     margin: 0 auto;
}
.brand-links{

    list-style: none;
}
.logo img {
    width: 100%;
   
}
.brand-links a {
text-decoration: none;
color: #8987A1;
margin-right:3rem ;
}
#home{
    color: #252432;
}

/* Banner Section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top: 282px;
      max-width:1140px  ;
     margin: 0 auto;
}
 
.bn-title{
    font-size: 4rem;
    font-weight: bold;  
    margin-bottom: 13px;
}
.banner-img{
    width: 100%;
}

.banner-description{
    font-size: 1.45rem;
    margin-top: 0px;
}
/* product Card section */

.card-title-container{
    text-align: center;
}
.card-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card-title-description{
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 49px;
}
.cards{
      max-width:1140px  ;
     margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.card-img{
    width: 100%;
}
.product-name{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.product-Price{
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.card-btn{
    background-color: #E95A08;
    border: none;
    padding: 19px 80px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}
.Plants{
    display: flex;
    justify-content: space-between;
    align-items: center;
     max-width:1140px  ;
    margin: 0 auto;
    margin-top: 210.12px;
    
   
}

.plants-lover{
    margin-left: 60px;
}
.join-img img{
    width: 100%;
}

.plants-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.plants-description{
    font-size: 22px;
    margin-bottom: 20PX;
}
/* Join Section */
.join{
    width: 100%;
     max-width: 1440px;
    margin: 0 auto;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
}
.join{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.join-container{
    padding-top:199px;
    padding-bottom: 193px;
}
.join-input{
  display: inline-flex;
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 0px;
}
.join-text{
    padding-top: 15.5px ;
    padding-left: 20px;
    padding-bottom: 15.5px;
    width: 40.25rem;
    border: none;
}
.Join-title{
    text-align: center;
    color: #FFFFFF;
    font-size: 3.1rem;
}
.join-btn{
  background-color: #E95A08;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
padding:19px 53.5px ;
}



/* Responsive Area */
@media screen and (max-width:576px) {

    .nav-title{
        display: none;
    }
    .nav-bar{
     margin-top:20px;
    margin-left: 16px;
    }
    .banner-title{ margin-left: 16px;}

        /* responsive banner section */
        .banner{
            flex-direction: column-reverse;
            margin-top: 28px;
        }
        /* Responsive Section of Products-card */
        .cards{
            grid-template-columns: repeat(2, 1fr);
            margin-left: 14px;
            margin-right: 17px;
        }
        .card-btn{
            padding: 19px 30.5px;
        }
     /* Flower and Plants Lover Section */
     .Plants{
        flex-direction: column;
        margin-top: 41.5px;
        padding-left: 17px;
        padding-right: 18px;
     }
     .plants-lover{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 17px;
        margin-top: 18px;
        margin-bottom: 143px;
     }
      join Section 
      .join-input{   
        padding: 23px 30px;
        padding-bottom: 0px;       
      
}
    .join-text{
        max-width: 13.625rem;
    }
    .join-btn{
        padding: 19px 12px;
    }
     .join-input{
        width: fit-content;
        margin: 0 auto;
    } 
     .join{
       display: flex;
       justify-content: center;
       
     }
     .Join-title{
        font-size:20px ;
     } 
}